{% extends 'base.html' %}

<!-- ****************************************************************** -->

{% load static %}
<!-- ****************************************************************** -->

{% block main %}

<!-- ****************************************************************** -->

{% include 'sections/header.html' %}

<!-- ****************************************************************** -->

{% include 'sections/hero.html' %}

<!-- ****************************************************************** -->

{% include 'sections/about.html' %}

<!-- ****************************************************************** -->

{% include 'sections/projects.html' %}

<!-- ****************************************************************** -->

{% include 'sections/contact.html' %}

<!-- ****************************************************************** -->

{% include 'sections/footer.html' %}

<!-- ****************************************************************** -->

{% endblock main %}

<!-- ****************************************************************** -->
