{% load static %}

<link rel="stylesheet" href="{% static 'css/projects.css' %}" />

<section id="project" class="projects">
  <h3 class="header">
    <i class="fas fa-laptop-code"></i>
    My
    <span>Projects</span>
  </h3>

  <div class="container">
    {% for project in projects %}
    <div class="sp-hover-box">
      <img src="{{ project.image.url }}" alt="{{ project.name }}" class="" />

      <div class="sp-text">
        <h4 class="title">{{ project.name }}</h4>

        <div class="box-content">
          <p class="des">{{ project.description }}</p>

          <div class="btns">
            <a href="{{ project.demo_url }}" class="btn-demo" target="_blank">Demo</a>
            <a href="{{ project.github_url }}" class="btn-github ml-4" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <a class="sp-button-components all-project-btn" href="/projects">All Projects</a>
</section>
